<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="A0Dumper.Data.A0Items.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <A0Dumper.Data.A0Items.Properties.Settings>
            <setting name="UserName" serializeAs="String">
                <value>A0Admin</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="ConnStr" serializeAs="String">
                <value>Provider=SQLOLEDB.1;User ID=sa;Password="p@55w0rd";Persist Security Info=True;Initial Catalog=A0Data;Data Source=localhost\A0_TRUNK</value>
            </setting>
        </A0Dumper.Data.A0Items.Properties.Settings>
    </userSettings>
</configuration>